<!DOCTYPE html>
<html>
  <head>
    <title>ForeignKey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "All categories", expenses_path(category:nil) %>
  	<% Category.all.each do |category| %>
  		<%= link_to category.name, expenses_path(category: category.name) %>
    <% end %>
    <%= yield %>
  </body>
</html>
